*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.navbar{
  padding: 0!important;
  margin: 0 !important;
}

.navbar-brand{
  margin: 0 !important;
  padding: 0 !important;
  filter: drop-shadow(1px 2px .5px #807e7e61 );
}
.navbar-collapse{
  flex-grow: 0.5!important;
}

.navbar-brand span{
  margin-left: -25px;
  font-size: 23px;
  font-weight: 600;
  color: #830057;
}

.nav-item a{
  font-size: 18px;
  font-weight: 400;
  margin: 0px 15px;
  padding: 0;
  color: rgb(169, 169, 169);

}
.nav-item:hover a, .nav-item:active a{
  color: #673657;
}

.navbar-collapse button{
  background: #673657;
  font-weight: 600;
  padding: 15px 30px;
}
.nav-item button:hover{
  background: #770150;
  
}

.footer{
  width: 100vw;
  position: absolute;
  bottom: 0;
  padding: 15px 30px;
  z-index: -1;
}
.up-foot p{
  font-size: larger;
  text-align: left !important;
  margin-bottom: 0px!important;
}
.up-foot .logo img{
  width: 90px;
}
.up-foot .title{
  margin-left: -20px!important;
}
.up-foot .title p{
  margin-bottom: -10px!important;
}
.up-foot span{
  font-size: 14px;
}
.up-foot .design p{
  text-align: center !important;
  margin-top: -8px !important;
}
.up-foot .design p span{
  color: rgb(169, 169, 169);
  font-weight: 100;
  font-size: 15px;
}

@media (max-width:460px) {
  .navbar-collapse{
    width: 100vw;
    position: relative;
    background: rgb(255, 255, 255);
    height: 100vh;
    z-index: 11;
    text-align: center;
  }
  .up-foot p{
    font-size: 15px;
    margin-top: 0 !important;
    text-align: center !important;
  }
  .up-foot .design p span{
    font-size: 13px;
  }
  .logo{
    display: none;
  }
  .social ul{
    padding: 0rem  !important;
    justify-content: center;
  }
}